html {
    background-color: #F5F5F5;  
    font-size: 16px; /* px means 'pixels': the base font size is now 10 pixels high  */
    font-family: 'Raleway', sans-serif;
  }
  
body {
    width: 1280px;
    margin: 0 auto;
    background-color: #fedeb0;
    padding: 0 20px 20px 20px;
    border: 1px solid rgb(224, 224, 224);
  }
h1 {
        font-size: 60px;
        text-align: center;
  }
      
 p,li {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 1px;
  }
      
h3 {
        font-size: 14px;
        text-align: center;
 }
h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 3px rgb(227, 227, 227);
  }
img {
    display: block;
    margin: 0 auto;
  }
Button {
    width:150px;
    height:50px; 
    font-size: 12px
  }